:root{
    --noire:#030303;
    --borderbottom:1px solid whitesmoke
}
.mainmenu{
    position: relative;
    box-sizing:border-box;
    background:#020A05;
    height:100%;
    width:75%;
    display:flex;
    flex-direction:column;
    overflow-y:auto;
    overflow-x: hidden;
    gap:3rem;
}
.secondmain{
    box-sizing:border-box;
    height:100vh;
    background:#020A05;
    width:75%;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    gap:1rem;
}
.menu{
    height:7%;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    gap:2rem;
}
.allSongs{
    height:90%;
    display:flex;
    flex-direction:column;
    gap:4rem;
    overflow-y: scroll;
    overflow-x: hidden;
}
.search{
   font-size:1rem;
   color:black;
    width:25rem;
    height:2rem;/* justify-content:center;
    align-items:center; */
  outline: none;
  margin-top:1rem;
  padding-left:.5rem;
}
.playlists{
    width:100%;
    display:flex;
    flex-direction:column;
    gap:1rem;
    margin-left:1rem;
}
.recentlyplayed{
    width:100%;
    display:flex;
    flex-direction:column;
    gap:1rem;
    margin-left:1rem;
    
   
}
.madeforyou{
    width:100%;
    display:flex;
    flex-direction:column;
    gap:1rem;
    margin-left:1rem;
    margin-top:2rem;
}
.recommanded{
    width:100%;
    display:flex;
    flex-direction:column;
    gap:1rem;
    margin-left:1rem;

}
.listsongs{
 display:flex;
 flex-direction:row;
 gap:2.3rem;
 row-gap:5rem;
}
.seeMore{
 display:flex;
 flex-direction:row;
 gap:2.3rem;
 row-gap:5rem;
 flex-wrap: wrap; 
}
.playlist{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap; 
    gap:2rem;

}
.cover{
    box-shadow:0 .5rem 1rem #030303;
    width:97%;
    height:70vh;
    overflow: hidden;
    position: relative;
    top:1rem;
    margin-left:auto;
    margin-right: auto;
    border-radius:1rem;
    
}
.cover img{
    width:100%;
}
.overlay{
    position: absolute;
    top:0;
    left:0;
    background-color: #030303;
    width:100%;
    height:100%;
    opacity:.4;
}
.research{
    width:100%;
    display:flex;
    flex-direction:column;
    gap:1rem;
    margin-left:1;
}
.titre {
display:flex;
flex-direction:row;
justify-content: space-between;
margin-left:1rem;
margin-right:1rem;
margin-top:.5rem;
}
.depend span{
    position:relative;
    left:45rem;
    bottom:1rem;
   


}
.depend{
    cursor: pointer;
}
.depend:hover{
    background-color: black;
    box-shadow: 1px 2px .8 white;
}
    .borduretitre{
        border-bottom: var(--borderbottom);
        opacity: 0.2;
        width:98%;
        margin-top:.4rem;
        margin-left:.6rem;
      
       }
    
       .list{
        height: calc(50vh - 49px);
        overflow-x: hidden;
        overflow-y: auto;
       }
.list .details
{
   
    min-height:800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:1rem;
}
/* ----------------------Responsives---------------------------------- */
@media (max-width:415px){
    .mainmenu{
      width:100%;
      min-height:90%;
      gap:0;
      position: relative;
    }
    .secondmain{
        min-height:90%;
        width:100%;
        gap:.8rem;
    }
    .allSongs{
        position: relative;
        top:4rem;
    }
    .listsongs {
        flex-wrap: wrap;
        gap:2rem;
    }
    .madeforyou{
        width:100%;
        gap:2;
        margin-left:.5rem;
        margin-top:1rem;
    }
    .madeforyou h1{
     font-size:1.5rem;
    }
    .recentlyplayed{
        width:100%;
        gap:2;
        margin-left:.5rem;
        margin-top:1rem;
    }
    .recentlyplayed h1{
        font-size:1.5rem; 
    }
    .menu{
        margin-top:3rem;
    }
    .search{
         width:20rem;
     }
    .seeMore{
        width:100%;
        column-gap:1rem;
        margin-left:1rem;
    }
    .playlistTitre{
        position: relative;
        top:2rem;
        margin-left: auto;
        margin-right: auto;
    }
    .playlist{
        display:flex;
        flex-direction:column;
        align-items: center; 
        gap:1rem;
        margin-top:2.5rem;
        overflow-y: scroll;
    }
    .cover{
        width:97%;
        height:30vh;
        overflow: hidden;
        margin-top:3rem;
        position: relative;
        top:1rem;
        margin-left:auto;
        margin-right: auto;
        border-radius:1rem;
        
    }
}
@media (max-width:415px){
    .listsongs {
        flex-wrap: wrap;
        column-gap:.3rem;
        row-gap:2.5rem;
        margin-left:1rem;
    }

}
@media (max-width:390px){
    .mainmenu{
        width:100%;
        min-height:90%;
        gap:0;
        position: relative;
      }
      .listsongs {
        flex-wrap: wrap;
        column-gap:.3rem;
        row-gap:2.5rem;
        margin-left:.4rem;
    }
    .madeforyou{
        gap:0rem;
    }
    .madeforyou h1{
        font-size:1rem;
       }
       .recentlyplayed h1{
        font-size:1rem; 
    }
    .recentlyplayed{
        gap:0rem;
    }
    .search{
        width:15rem;
    }
    .seeMore{
        column-gap:.5rem;
        margin-left:.3rem;
    }
    .playlist{
        display:flex;
        flex-direction:row;
        justify-content: center;
        align-items: center; 
        gap:1rem;
        margin-top:2.5rem;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    
}
@media (max-width:360px){
    .listsongs {
        flex-wrap: wrap;
        column-gap:.3rem;
        row-gap:2.5rem;
        margin-left:0rem;
    }
}