*{
 margin: 0;
}
:root{
    --noire:#030303;
    --borderbottom:1px solid whitesmoke
}
.leftmenu{
    box-sizing:border-box;
    overflow:hidden;
    min-height:100vh;
    background:var(--noire);
    height:100%;
    width:18%;
    display:flex;
    flex-direction: column;
    gap:2rem;  
}
.profil{
    display:flex;
    flex-direction:row;
    margin-top:1.5rem;
    margin-left:1.5rem ;
    width:100%;
    gap:1rem;
}
.profil img{
    
    width:40px;
    height:40px;
    border-radius:50px;
}
.profil p{
    font-size:1rem;
    margin-top:.6rem
}

.myCompte{
    display:flex;
    flex-direction:column;
    gap:3rem;
} 
.bordure{
 border-bottom: var(--borderbottom);
 opacity: 0.2;
 width:90%;
 position: relative;
 left:.5rem;
}
.library{
    display:flex;
    flex-direction:column;
    gap:5rem;
}
.yourlibrary{
 width:100%;
display: flex;
flex-direction: column;
justify-content: left;
gap:3rem;
margin-left:1.5rem;
}
.yourlibrary h3{
    font-size:1.4rem;
}
.home{
    display:flex;
    flex-direction:row;
    gap:.5rem;
}
.yourlibrary h6{
    font-size:1rem ;
    opacity:0.6;
    cursor: pointer;
}
.yourlibrary h6:hover{
    opacity:1;
}
.logout-btn{
    margin-left:1.5rem;
    font-size:1rem;
    opacity:.5;
    cursor: pointer;
     display:flex;
    flex-direction:row;
    gap:.5rem;
}
.logout-btn:hover{
opacity:1;
}
/* ----------------------Responsives---------------------------------- */
@media (max-width:415px){
    .leftmenu{
        width:100%;
        flex-direction: row;
        min-height:15%;
    }
    .profil{
        display:none;
    }
    .bordure{
        display:none;
    }
    .library{
        flex-direction:row;
    }
    .yourlibrary{
       flex-direction: row;
       align-items: center;
       /* margin-right:10rem; */

    }
    .yourlibrary h3{
        display:none;
    }
    .home{
        flex-direction:column;
        position:relative;
        bottom:1.5rem;
        right:1.5rem;
    }
    h6 span{
        position: relative;
        right:.7rem;
    }
 
    .logout-btn{
        flex-direction:column;
        position: relative;
        right:1.5rem;
        top:1.1rem;
    }
    .logout-btn h6 span{
        position: relative;
        right:.7rem;
    }
    /* .home span{
        display: none;
    } */
  
}
@media (max-width:390px){
    .yourlibrary h3{
        font-size:.7rem;
        margin-left: auto;
        margin-right: auto;
    }
    .yourlibrary{
        gap:3.4rem;
    }
    .home{
        flex-direction:column;
        gap:.2rem;
        /* align-items:center; */
    }
    .home span{
        display: none;
    }
    .home{
        position: relative;
        right:.5rem;
    }
    .logout-btn{
        flex-direction:column;
        position: relative;
        left:1.2rem;
        top:1.1rem;
    }
    .out{
        display: none;
    }
}