:root{
    --noire:#030303;
    --borderbottom:1px solid whitesmoke
}
.rightmenu{
    background: var(--noire);
    width:7%;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.mylogo{
    margin-top:.5rem;
}