.accueil{
    display:flex;
    flex-direction:row;
    width:100vw;
    height:100vh;
    /* flex-wrap: wrap; */
}
/* .play{
    position: absolute;
    top:10rem;
    width:2px;
} */
.webplayer{
    position:fixed;
    bottom: 0;
    left:0;
    width:100%;
    margin:0;
    z-index:1000;
}

/* ----------------------Responsives---------------------------------- */
@media (max-width:415px){
    .accueil{
        display:flex;
        flex-direction:column-reverse;
    }
    
}
