*{
  color:white;
}
:root{
    --bleu:#0000FF;
}
.container{
    background:url('../img/unsplash_YrtFlrLo2DQ.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    width:100vw;
    height:100vh;
    position: relative;
}
.secondary-container{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background-color:#030303;
    opacity:0.8;
    display:flex;
    flex-direction:column;
    gap:9rem;
}
p{
    font-size:2.5rem;
    text-align: center;
}
.description{
    display:flex;
    flex-direction:column;
    gap:2rem;
    justify-content: center;
    align-items:center;
}
.logo{
    display:flex;
    flex-direction:row;
    gap:0;
}
.logo h3{
    margin-top:2.6rem;
    font-size:2rem;
     font-weight:400
}
button{
    width:12rem;
    height:3rem;
    color:white;
    background-color:var(--bleu);
    font-size:1rem;
    font-weight:800;cursor: pointer;
}
/* ----------------------Responsives---------------------------------- */
@media (max-width:415px){
    .secondary-container{
        gap:13rem;
    }
    .description{
        gap:5rem;
    }
    .logo img{
        width:4rem;
        height:4rem;
    }
    .logo h3{
        font-size:1.5rem;
        margin-top:1.7rem;
    }
    p{
        font-size:1.5rem;
    }
}
@media (max-width:390px){
    .secondary-container{
        gap:12rem;
    }
    .description{
        gap:3rem;
    }
    p{
        font-size:1.2rem;
    }
    button{
        width:9rem;
        height:2rem;
        font-size:0.7rem;
    }
    .logo img{
        width:3rem;
        height:3rem;
    }
    .logo h3{
        font-size:1rem;
        margin-top:1rem;
    }
}